@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&family=Poppins:wght@700&display=swap');

:root{
    --font-sans:'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --padding-container: 100px 0;
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-sans);
}

.nav{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    --padding-container: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
    overflow: hidden;
}

.hero{
    --padding-container: 100px 0 200px;
    position: relative;
    --wave: url(../images/bg-section-top-mobile-1.svg);
}

.nav__logo{
    height: 20px;
}

.nav__img{
    height: 100%;
}

.nav__link{
    border: 2px solid var(--pink);
    padding: 6px 24px;
    color: var(--pink);
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 16px -10px var(--light-pink);
}

.hero__texts{
    text-align: center;
    margin-bottom: 5em;
}

.title{
    font-family: var(--font-poppins);
    font-size: 2rem;
    margin-bottom: 1em;
}

.hero__paragraph{
    margin: 0 auto;    
    font-weight: 400;
}


.hero__figure{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 7.5em;
}

.hero__img{
    width: 100%;
}

.cta{
    margin-top: 2.5em;
    background: var(--pink);
    color: #fff;
    display: inline-block;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: -5px 8px 16px -10px rgba(0, 0, 0, .5);
}

/* --------- */

.hero__cards{
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    align-items: center;
}

.hero__number{
    font-size: 3rem;
}

.hero__copy{
    color: var(--very-dark-cyan);
}


/* Grow */

.section{
    background: var(--very-pale-blue);  
    text-align: center;
}

.section__container{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.section__figure{
    margin: 0 auto;
}

.section__img{
    width: 100%;
}


.subtitle{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
}

.section--white{
    background: #fff;
    --padding-container:200px 0 ;
    position: relative;
    --wave2: url("../images/bg-section-bottom-mobile-1.svg");
    --wave: url("../images/bg-section-top-mobile-2.svg");
}

.section__paragraph{
    color: var(--very-dark-cyan);
}

.wave{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-image:var(--wave);
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave--bottom{
    top: 0;
    left: 0;
    right: 0;
    bottom: none;
    background-image: var(--wave2);
}

/* ---------------------- */

.contact{
    --padding-container: 200px 0;
    text-align: center;
    position: relative;
    --wave2:  url("../images/bg-section-bottom-mobile-2.svg");
    --wave: url("../images/bg-footer-top-mobile.svg");
}

.title--contact{
    margin-bottom: 0;
}

.footer{
    background: var(--very-dark-cyan);
    color: var(--very-pale-blue);
}

.footer__newsletter{
    margin-bottom: 5em;
}

.footer__title{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
    margin-bottom: .7em;
}

.footer__paragraph{
    margin-bottom: 2em;
}


.footer__form{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;   
}

.footer__input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 6px;
    outline: none;
    font-family: var(--font-sans);
    font-size: 1rem;
}

.footer__submit{
    margin-left: auto;
    background: var(--pink);
    color: var(--very-pale-blue);
    outline: none;
    border: none;
    padding: 16px 64px ;
    font-family: var(--font-sans);
    font-size: 1rem;
    border-radius: 6px;
}

.footer__figure{
    margin-bottom: 1em;
}

.footer__media{
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

@media (min-width:700px) {
    
    .title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .hero__paragraph{
        width: 50%;
    }

    .hero__img{
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }

    .hero__cards{
        flex-direction: row;
        gap: 3.5em;
        max-width: 700px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .hero__number{
        font-size:4rem;
    }

    .hero{
        --wave: url(../images/bg-section-top-desktop-1.svg);
    }

    .section__container{
        flex-direction: row-reverse;
        gap: 5em;
        align-items: center;
    }

    .section__texts{
        text-align: left;
    }

    .section--white{
        flex-direction: row;
        background: #fff;
        --padding-container:200px 0 ;
        position: relative;
        --wave2: url("../images/bg-section-bottom-desktop-1.svg");
        --wave: url("../images/bg-section-top-desktop-2.svg");
    }

    .subtitle{
        font-size: 2rem;
        margin-bottom: .5em;
    }

    .cta--contact{
        margin-top: 1em;
    }


    .contact{
        --padding-container: 200px 0;
        text-align: center;
        position: relative;
        --wave2:  url("../images/bg-section-bottom-desktop-2.svg");
        --wave: url("../images/bg-footer-top-desktop.svg");
    }
    
    .footer__container{
        display: flex;
        flex-direction: row-reverse;
        gap: 3.2em;
    }

    .footer__paragraph--social{
        width: 70%;
    }
}